// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.task-finished {
	text-decoration:line-through;
}

.owned {
	.name {
		$owned: rgb(81, 40, 134);
		color: $owned;
		background-color: lighten(complement($owned), 20%);
	}
}

.task {
	line-height: 2em;

	input[type="checkbox"] {
		vertical-align: middle;
		margin-right:.5em;
	}
	.name {
		cursor:pointer;
		font-size:1.5em;
	}
}