<!DOCTYPE html>
<html>
<head>
  <title>BagelDog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  
  <%= csrf_meta_tags %>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.10/backbone-min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>

	<%= javascript_include_tag "application" %>

	<script type="text/template" id="taskList-template">
		<input type="text" name="owner" placeholder="your name" class="pull-right" />
		<h2>Task List</h2>
		<hr />
		<form class="form-inline">
			<span class="input-prepend">
				<span class="add-on"><i class="icon-pencil"></i></span>
				<input type="text" placeholder="name" name="name" />
			</span>
			<button type="submit" class="btn">new task</button>
		</form>
		<label class="checkbox">
			<input type="checkbox" id="finished" />
			hide finished
		</label>
		<div id="tasks"></div>
	</script>

	<script type="text/template" id="task-template">
		<div class="task">
			<input type="checkbox" class="finish" <%% print(status === 'finished' ? 'checked' : ''); %> />
			<span class="name task-<%% print(status); %>"><%%= name %></span>
			<a href="#" class="delete"><small>delete</small></a>
			<span class="owner"><%% print(owner ? owner : ''); %></span>
		</div>
	</script>
</head>
<body>
	<div class="container">
		<div id="page"></div>
	</div>
</body>
</html>
